<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Cyber Security Project</title>
    </head>

    <body>
        <h1>Cyber Security Project</h1>

        {% if session.user_id %}
        <p><strong>Logged in as: </strong><span>{{ session.username }}</span></p>
        <br>
        <a href="/account/{{ session.user_id }}">See your account information</a>
        <br>
        <a href="/logout">Log Out</a>

        {% if session.user_admin %}

        <h3>Admin operations:</h3>

        <a href="/view">View All Users</a>
        <a href="/delete">Delete Users</a>
        {% endif %}

        {% else %}
        <a href="/login">Log In</a>
        <a href="/create">Sign Up</a>
        {% endif %}
    </body>
